@model IEnumerable<DogForum.Models.Discussions>

@{
    ViewData["Title"] = "Discussion Details";
}

<div class="container-fluid" style="margin-top:8vh">
<div class="col">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-8 mb-3">
            <div class="card text-bg-light">
                    <a href="@Url.Action("DiscussionsDetails", "Home", new { id = item.DiscussionsId })"><p class="title">@item.Title</p> </a>
            </div>

        </div>
    }
</div>
</div>